body{
    background-color: #6C4E31 !important;
    color: white !important;  
}

/* navbar */
.navbar{
    
    background-color: #EBE5C2;
    font-size: large !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bold;
    
}




/* COntent */


body .About{
    text-align: center;
    margin-top: 10% !important;
    margin-bottom: 10%;
}

.About p{
    font-weight: 600;
    margin: 20px 280px 20px 280px;
    line-height: 1.5 !important;
    font-size: 1.5rem;
}


/* image */

img{
    width: 450px;
    height: 450px;
    border-radius: 20%;
    margin-left: 29px;
}


/* second paragraph */

.secparagraph {
    font-weight: 600;
    line-height: 1.5 !important;
    font-size: 1.5rem;
    
    position: absolute;
    margin-left: 622px;
    margin-bottom: 2px;
    bottom: 130px;

}

/* third paragraph */

.OurValues{
    text-align: center !important;
    font-weight: 600;
    
    font-size: 1.5rem;
}




/* footer */

.footer{
    background-color: #EBE5C2;
    padding-top: 22px;
    padding-bottom: 22px;
    font-size: large !important;
    color: black;
    text-align: center;
}













/* footer */
.footer{
    background-color: #EBE5C2;
    padding-top: 22px;
    padding-bottom: 22px;
    font-size: large !important;
    color: black;
}